# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Node
node_modules/
npm-debug.log*
coverage/
dist/
.npm

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.venv
venv/
.pytest_cache/
.ruff_cache/

# .NET
bin/
obj/
*.user
.vs/
TestResults/

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Docker
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
